*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --White: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --dark-blue: hsl(213, 19%, 15%);
    --very-dark-blue:hsl(216, 12%, 8%);
    --orange:hsl(25, 97%, 53%);

    --contrast-dark-blue: hsl(213, 19%, 20%);
}
html{
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    min-width: 100%;
    background-color: var(--very-dark-blue);
    color: var(--White);
    height: 100vh;
}
.container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width:28%;
    background-color: var(--dark-blue);
    border-radius:1rem;
    padding: 1.5rem;
}
.thank-you-image{
    margin: 1rem 0;
}

.rating-score{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--orange);
    margin: 1rem 0;
    background-color: var(--contrast-dark-blue);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-align: center;
}
.thank-you{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}
.thank-you-message{
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-grey);
    text-align: center;
    margin: 0.1rem 0;
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
}
.attribution a {
    color: var(--orange);
}

/* Mobile Media Queries */
@media (max-width: 600px) {
    html{
        font-size: 18px;
    }
    body{
        min-width: 100%;
        height: auto;
    }
    .container{
        width: 90%;
        margin-top: 5.0rem;
    }
    .card-container{
        width:90%;
    }
    .attribution {
        position: relative;
        bottom: -100px;
        left: 0;
        right:0;
    }
}